/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-image: url('/static/assets/environmental-volunteers-1022925352-b686578cbf714d19803f373a7f61513a.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container styles */
  .container {
    backdrop-filter: blur(20px);
    width: 400px;
    background-color: transparent;
    border-radius: 25px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Form styles */
  .form {
    text-align: center;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Input styles */
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  }
  
  /* Icon styles */
  span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* Button styles */
  .submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit:hover {
    background-color: #0056b3;
  }
  
  /* Signup link styles */
  .signup-link {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  
